extends layout 
block content 
  h1 Book List 
  if books.length
    ul 
      each book in books 
       li 
        a(href=book.url) !{book.title} 
        |(!{book.author.name})
  else 
    p no books